*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

.header {
    width: 100%;
    height: 90px;
    display: block;
    background-color: rgb(85, 37, 130);
}

.center_header {
    width: 1000px;
    height: 90px;
    display: block;
    margin: 0 auto;

}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo img {
    height: 75px;
    padding-top: 7.5px;
}

.nav {
    float: right;
    height: 100%;
    
}
.nav a {
    height: 100%;
    display: table;
    float: left;
    font-size: xx-large;
    padding: 25px 50px;
    color: rgb(253, 185, 39);
    font-family: 'Lakers', sans-serif; 
}

.nav a:link{
    text-decoration: none;
    color: rgb(253, 185, 39);
}

.nav a:hover {
    text-decoration: underline;
    color: white;
}

section {
    width: 100%;
    padding: 120px;
    background-color: rgb(253, 185, 39);
}

section {
    width: 100%;
    padding: 30px;
    background-color: rgb(253, 185, 39);
}

.title {
    display: block;
    width: 100%;
    font-size: 60px;
    padding: 50px 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game {
    background-color: rgb(85, 37, 130);
    height: 600px;
}

.input {
    position: absolute;
    bottom: 10px;
    margin: 10px;
}

.game h2 {
    font-size: 40px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input h2{
    background-color: rgb(253, 185, 39);
    width: 410px;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game img {
    float: right;
    padding: 20px;
    border-radius: 20%;
}

.game p {
    font-size: 25px;
    padding: 10px;
}

.game button {
    float: right;
}
                        
.container {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width:1200px) {
    .container {
        size: 50%;
    }
    .input h2 {
        font-size: 60%;
        width: 35%;
    }
    .form {
        width: 100px;
    }
    
}