*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header {
    width: 100%;
    height: 90px;
    display: block;
    background-color: rgb(85, 37, 130);
}

.center_header {
    width: 1000px;
    height: 90px;
    display: block;
    margin: 0 auto;

}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo img {
    height: 75px;
    padding-top: 7.5px;
}

.nav {
    float: right;
    height: 100%;
    
}
.nav a {
    height: 100%;
    display: table;
    float: left;
    font-size: xx-large;
    padding: 25px 50px;
    color: rgb(253, 185, 39);
    font-family: 'Lakers', sans-serif; 
}

.nav a:link{
    text-decoration: none;
    color: rgb(253, 185, 39);
}

.nav a:hover {
    text-decoration: underline;
    color: white;
}

section{
    height: 70vh;
    border: 1px solid rgb(85, 37, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 185, 39);
    }

    .intro h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #intro {
    background-image: url("/Lakers/imgs/court.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    }

.container p{
    margin-top: 10%;
    margin: 20px;
}

.container h1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width:900px) {
 .container h1 {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
}
.container p {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width:900px) {
    .container p {
       font-size: 20px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.container img{
    float: right;
    margin: 15px;
    width: 200px;
    height: 200px;
}

.footer {
    display: flex;
    align-self: flex-end;
}

@media screen and (max-width:900px) {
    .container img {
        width: 100px;
        height: 100px;
    } 
    }


  

